<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rico.pacial">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pacial">
        <activity android:name=".mensaje"></activity>
        <activity android:name=".autoridad" />
        <activity android:name=".EscuelaUntels" />
        <activity android:name=".calcula" />
        <activity android:name=".videin" />
        <activity android:name=".datosPersonales" />
        <activity android:name=".central" />
        <activity android:name=".logo.logoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>